<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Авторизация</title>
</head>
<body>

<div class="main">

    <div class="header">
        <a th:href="@{/}" class="logo"><img th:src="@{/images/logo.png}" width="250px"></a>

        <a th:href="@{/signup}" class="head_btn">Регистрация</a>
    </div>

    <div class="content">

        <form name="form" th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td>
                        <input required type="email" class="input"
                               name="username" value="" th:text="${username}" placeholder="Email"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input required minlength="8" maxlength="32" type="password" class="input"
                               name="password" value="" th:text="${password}" placeholder="Пароль"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <input type="submit" class="btn" name="login" value="Войти" height="20px"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/forget}" class="forget">Забыли пароль!</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>

<div class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</div>

</body>
</html>